* {
  font-family: "Switzer", Arial, sans-serif;
}

body {
  background-color: #fffefa;
}

/* Custom Font Sizes */
.fs-14p {
  font-size: 0.875rem;
}

.fs-18p {
  font-size: 1.125rem;
}

.fs-26p {
  font-size: 1.625rem;
}

.fs-42p {
  font-size: 2.625rem;
}

/* Post hover img zoom */
body .hover-img-zoom {
  cursor: pointer;
}

body .hover-img-zoom .img-wrapper {
  overflow: hidden;
}

body .hover-img-zoom .img-wrapper img {
  transition: all 0.3s ease-in-out;
}

body .hover-img-zoom:hover .img-wrapper img {
  transform: scale(1.05);
}

/* custom text colors */
body p {
  color: #6d6d6d;
}

.light-bottom-border {
  border-bottom: 1px solid #d7d7d7b3;
}

/* Custom header category */
.custom-header-category {
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

/* Hero Section */
.custom-gray-border-right {
  border-right: 1px solid #d7d7d7;
}

.author-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

/* vertical divider */
.vertical-divider {
  width: 1px;
  height: 16px;
  background-color: #6d6d6d;
}

/* Latest News Section */
h2 {
  color: #1f1f1f;
}

/* Highlighted Latest News */
.highlighted-latest-news {
  background-color: #cf412b;
}
